.table {
  display: table;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  border-right: 2px solid #7B7B7B;
  border-bottom: 2px solid #7B7B7B;
  border-top: 2px solid white;
  border-left: 2px solid white;
  background-color: #BDBDBD;
  cursor: pointer;
  font-weight: bold;
  font-family: arial;
}
.pressed {
  border-left: 2px solid #7B7B7B;
  border-top: 2px solid #7B7B7B;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
.revealed {
  border: 1px dotted #999;
}
.mine {
  background: red;
}
.mine-1 { color: #0000FF; }
.mine-2 { color: #007B00 }
.mine-3 { color: #FF0000 }
.mine-4 { color: #00007B }
.mine-5 { color: #7B0000 }
.mine-6 { color: #007B7B }
.mine-7 { color: #000000 }
.mine-8 { color: #7B7B7B }

